<a href="https://colab.research.google.com/github/ahmedmoustafa/Notebooks/blob/master/GSE5583.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GSE5583
---

Negative and positive regulation of gene expression by mouse [histone deacetylase 1](https://en.wikipedia.org/wiki/Histone_deacetylase)

[[PMID: 16940178](https://pubmed.ncbi.nlm.nih.gov/16940178/)]

## Loading the data

In [1]:
data = read.table ("https://raw.githubusercontent.com/ahmedmoustafa/Notebooks/master/data/GSE5583.tsv", row.names = 1, header = TRUE)
head(data)

          WT1    WT2    WT3    KO1    KO2    KO3
100001_at   11.5    5.6   69.1   15.7   36.0   42.0
100002_at   20.5   32.4   93.3   31.8   14.4   22.9
100003_at   72.4   89.0   79.2   80.5  130.1   86.7
100004_at  261.0  226.2  365.1  432.0  447.3  288.1
100005_at 1086.2 1555.6 1487.1 1062.2 1365.9 1436.2
100006_at   49.7   52.9   15.0   25.8   48.8   54.8

In [2]:
dim(data)

[1] 12488     6