<a href="https://colab.research.google.com/github/ahmedmoustafa/Notebooks/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic
---

In [1]:
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
Titanic = read_tsv("https://raw.githubusercontent.com/ahmedmoustafa/Notebooks/master/data/titanic.tsv")
glimpse(Titanic)

── Column specification ────────────────────────────────────────────────────────
cols(
  name = col_character(),
  survived = col_character(),
  sex = col_character(),
  age = col_double(),
  class = col_character()
)

Rows: 1,309
Columns: 5
$ name     <chr> "Allen, Miss. Elisabeth Walton", "Allison, Master. Hudson Tr…
$ survived <chr> "yes", "yes", "no", "no", "no", "yes", "yes", "no", "yes", "…
$ sex      <chr> "female", "male", "female", "male", "female", "male", "femal…
$ age      <dbl> 29.0000, 0.9167, 2.0000, 30.0000, 25.0000, 48.0000, 63.0000,…
$ class    <chr> "1st", "1st", "1st", "1st", "1st", "1st", "1st", "1st", "1st…